@model List<ProyectoFinal.Entidades.Usuario>

<title>@ViewBag.Title - VetSite</title>

@if (ViewData.ModelState.ErrorCount > 0)
{
    <div class="alert alert-danger text-center" role="alert">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>@ViewBag.Title</h1>
        <a href="/Usuarios/Crear" class="btn btn-success">
            <i class="fas fa-plus me-2"></i>Agregar Usuario
        </a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Correo electronico</th>
                <th>Tarjeta profesional</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="5" class="text-center">No hay usuarios registrados.</td>
                </tr>
            }
            else
            {
                @foreach (var usuario in Model)
                {
                    <tr>
                        <td>@usuario.Nombre @usuario.Apellido</td>
                        <td>@usuario.Telefono</td>
                        <td>@usuario.CorreoElectronico</td>
                        <td>@usuario.TarjetaProfesional</td>
                        <td class="text-center">
                            <form asp-action="Editar" method="get" class="d-inline">
                                <input typr="hidden" name="id" value="@usuario.UsuarioId"/>
                                <button type="submit" class="btn btn-primary me-2">
                                    <i class="fas fa-edit"></i> Editar
                                </button>
                            </form>
                            <form asp-action="Eliminar" method="post" class="d-inline">
                                <input type="hidden" name="id" value="@usuario.UsuarioId" />
                                <button type="submit" class="btn btn-danger" onclick="return confirm('¿Está seguro de que desea eliminar este usuario?');">
                                    <i class="fas fa-trash"></i> Eliminar
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>

    </table>
</div>
