@using ProyectoFinal.Entidades
@model ProyectoFinal.Entidades.Vacuna

<div class="row">

    <!-- Campo oculto para el UsuarioId -->
    @if (Model != null)
    {
        <input type="hidden" asp-for="VacunaId" />
        <input type="hidden" asp-for="UsuarioCreacionId" />
        <input type="hidden" asp-for="FechaCreacion" />
    }

    <!-- Paciente  -->
    <div class="col-md-6 mb-3">
        <label asp-for="PacienteId" class="form-label">Paciente *</label>
        <select asp-for="PacienteId" id="paciente" class="form-select select2" required>
            <option value="" disabled selected>Seleccione el paciente</option>
            @foreach (var paciente in (ViewData["Pacientes"] as IEnumerable<Paciente>)!)
            {
                <option value="@paciente.PacienteId">@($"{paciente.Nombre} {paciente.Sexo} - {paciente.Especie}")</option>
            }
        </select>
        <span asp-validation-for="PacienteId" class="text-danger"></span>
    </div>

    <div class="col-md-6 mb-3">
    <label asp-for="UsuarioId" class="form-label">Usuario *</label>
    <select asp-for="UsuarioId" id="usuario" class="form-select select2" required>
        <option value="" disabled selected>Seleccione el paciente</option>
        @foreach (var usuario in (ViewData["Usuarios"] as IEnumerable<Usuario>)!)
        {
            <option value="@usuario.UsuarioId">@($"{usuario.Nombre}")</option>
        }
    </select>
    <span asp-validation-for="PacienteId" class="text-danger"></span>
</div>

    <!-- Nombre -->
    <div class="col-md-6 mb-3">
        <label asp-for="NombreVacuna" class="form-label">Nombre *</label>
        <input asp-for="NombreVacuna" class="form-control" required />
        <span asp-validation-for="NombreVacuna" class="text-danger"></span>
    </div>

    <!-- LABORATORIO -->
    <div class="col-md-6 mb-3">
        <label asp-for="Laboratorio" class="form-label">Laboratorio *</label>
        <input asp-for="Laboratorio" class="form-control" required />
        <span asp-validation-for="Laboratorio" class="text-danger"></span>
    </div>


    <!-- LOTE -->
    <div class="col-md-6 mb-3">
        <label asp-for="Lote" class="form-label">Lote *</label>
        <input asp-for="Lote" class="form-control" required />
        <span asp-validation-for="Lote" class="text-danger"></span>
    </div>

    <!-- Fecha de Aplicación -->
    <div class="col-md-6 mb-3">
        <label asp-for="FechaAplicacion" class="form-label">Fecha de Aplicación *</label>
        <input asp-for="FechaAplicacion" class="form-control" type="date" />
        <span asp-validation-for="FechaAplicacion" class="text-danger"></span>
    </div>

    <!-- Fecha de ProximaAplicación -->
    <div class="col-md-6 mb-3">
        <label asp-for="FechaProximaAplicacion" class="form-label">Fecha de la Proxima Aplicación *</label>
        <input asp-for="FechaProximaAplicacion" class="form-control" type="date" />
        <span asp-validation-for="FechaProximaAplicacion" class="text-danger"></span>
    </div>


    <!-- Observaciones -->
    <div class="col-md-6 mb-3">
        <label asp-for="Observaciones" class="form-label">Observaciones*</label>
        <input asp-for="Observaciones" class="form-control" />
        <span asp-validation-for="Observaciones" class="text-danger"></span>
    </div>


    <!-- Botón de Guardar -->
    <div class="mb-3">
        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="@Url.Action("Index", "Vacunas")" class="btn btn-secondary">Cancelar</a>
    </div>

</div>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $('#paciente, #usuario').select2({
            theme: "bootstrap-5",
            allowClear: true,
            language: {
                noResults: function () {
                    return "No se encontraron resultados";
                }
            }
        });
    });
</script>