@model IEnumerable<ProyectoFinal.Entidades.Vacuna>

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>@ViewBag.Title</h1>
        <a href="/Vacunas/Crear" class="btn btn-success">
            <i class="fas fa-plus me-2"></i>Agregar una vacuna
        </a>
    </div>

    <table id="vacunasTable" class="table">
        <thead>
            <tr>
                <th>Paciente</th>
				<th>Nombre</th>
                <th>Fecha aplicación</th>
                <th>Próxima aplicación</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if (Model == null || !Model.Any())
            {
                <tr>
                    <td colspan="5" class="text-center">No hay vacunas registradas.</td>
                </tr>
            }
            else
            {
                @foreach (var vacuna in Model)
                {
                    <tr>
                        <td>@vacuna.Paciente!.Nombre</td>
						<td>@vacuna.NombreVacuna</td>
                        <td>@vacuna.FechaAplicacion.ToShortDateString()</td>
                        <td>@vacuna.FechaProximaAplicacion.ToShortDateString()</td>
                        <td class="text-center">
                            <form asp-action="Editar" method="get" class="d-inline">
                                <input type="hidden" name="id" value="@vacuna.VacunaId" />
                                <button type="submit" class="btn btn-primary me-2">
                                    <i class="fas fa-edit"></i>
                                </button>
                            </form>
                            <form asp-action="Eliminar" method="post" class="d-inline">
                                <input type="hidden" name="id" value="@vacuna.VacunaId" />
                                <button type="submit" class="btn btn-danger" onclick="return confirm('¿Está seguro de que desea eliminar este usuario?');">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@section Scripts {

    <!-- DataTables JS para Bootstrap 5 -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#vacunasTable').DataTable({
                language: {
                    search: "Buscar:",
                    lengthMenu: "Mostrar _MENU_ registros por página",
                    zeroRecords: "No se encontraron registros",
                    info: "Mostrando página _PAGE_ de _PAGES_",
                    infoEmpty: "No hay registros disponibles",
                    infoFiltered: "(filtrado de _MAX_ registros totales)",
                    paginate: {
                        previous: "<",
                        next: ">"
                    }

                }
            });
        });
    </script>
}
