@using ProyectoFinal.Entidades
@model ProyectoFinal.Entidades.Examen

<div class="row">

    <!-- Campo oculto para el UsuarioId -->
    @if (Model != null)
    {
        <input type="hidden" asp-for="ExamenId" />
        <input type="hidden" asp-for="UsuarioCreacionId" />
        <input type="hidden" asp-for="FechaCreacion" />
    }

    <!-- Paciente  -->
    <div class="col-md-6 mb-3">
        <label asp-for="PacienteId" class="form-label">Paciente *</label>
        <select asp-for="PacienteId" id="paciente" class="form-select select2" required>
            <option value="" disabled selected>Seleccione el paciente</option>
            @foreach (var paciente in (ViewData["Pacientes"] as IEnumerable<Paciente>)!)
            {
                <option value="@paciente.PacienteId">@($"{paciente.Nombre} {paciente.Sexo} - {paciente.Especie}")</option>
            }
        </select>
        <span asp-validation-for="PacienteId" class="text-danger"></span>
    </div>

    <div class="col-md-6 mb-3">
        <label asp-for="UsuarioId" class="form-label">Usuario quien aplica. *</label>
        <select asp-for="UsuarioId" id="usuario" class="form-select select2" required>
            <option value="" disabled selected>Seleccione el usuario</option>
            @foreach (var usuario in (ViewData["Usuarios"] as IEnumerable<Usuario>)!)
            {
                <option value="@usuario.UsuarioId">@($"{usuario.Nombre}")</option>
            }
        </select>
        <span asp-validation-for="PacienteId" class="text-danger"></span>
    </div>

    <!-- TipoExamen -->
    <div class="col-md-6 mb-3">
        <label asp-for="TipoExamenId" class="form-label">Tipo de Examen *</label>
        <select asp-for="TipoExamenId" id="tipoExamen" class="form-select select2" required>
            <option value="" disabled selected>Seleccione el tipo de Examen</option>
            @foreach (var tipo in (ViewData["TipoExamenes"] as IEnumerable<TipoExamen>)!)
            {
                <option value="@tipo.TipoExamenId">@($"{tipo.Descripcion}")</option>
            }
        </select>
        <span asp-validation-for="TipoExamenId" class="text-danger"></span>
    </div>

    <!-- Fecha  -->
    <div class="col-md-6 mb-3">
        <label asp-for="Fecha" class="form-label">Fecha *</label>
        <input asp-for="Fecha" class="form-control" type="date" />
        <span asp-validation-for="Fecha" class="text-danger"></span>
    </div>

	<!-- Descripcion -->
	<div class="col-md-6 mb-3">
		<label asp-for="Descripcion" class="form-label">Descripcion *</label>
		<input asp-for="Descripcion" class="form-control" required />
		<span asp-validation-for="Descripcion" class="text-danger"></span>
	</div>

	<!-- RESULTADO -->
	<div class="col-md-6 mb-3">
		<label asp-for="Resultado" class="form-label">Resultado *</label>
		<input asp-for="Resultado" class="form-control" required />
		<span asp-validation-for="Resultado" class="text-danger"></span>
	</div>


    <!-- Observaciones -->
    <div class="col-md-6 mb-3">
        <label asp-for="Observaciones" class="form-label">Observaciones </label>
        <input asp-for="Observaciones" class="form-control" />
        <span asp-validation-for="Observaciones" class="text-danger"></span>
    </div>


    <!-- Botón de Guardar -->
    <div class="mb-3">
        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="@Url.Action("Index", "Examenes")" class="btn btn-secondary">Cancelar</a>
    </div>

</div>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $('#tipoExamen, #paciente, #usuario').select2({
            theme: "bootstrap-5",
            allowClear: true,
            language: {
                noResults: function () {
                    return "No se encontraron resultados";
                }
            }
        });
    });
</script>